---
import Speaker from "@components/speaker.astro";
import HeroSection from "../components/herosection.astro";
import Stepbystep from "@components/stepbystep.astro";
import heroImage from "assets/hero_image.webp"
import erikaImage from "assets/erika-r-carrillo.webp";
import patyImage from "assets/paty_ganem_square.webp";
import davidImage from "assets/DR-DAVID-BETAN.webp";
import lorenaImage from "assets/LORENA-LADRON-DE-GUEVARA.webp";
import elyImage from "assets/Photoroom-20250218_194832.webp";
import Layout from "@layouts/Layout.astro";







const speakers = [
  {
    name: "Ericka Carrillo",
    title: `Cuidando la Mente y el Corazón de Nuestros Estudiantes.`,
    image: erikaImage,
  },
  {
    name: "Patricia Ganem",
    title: "Pensamiento Crítico",
    image: patyImage,
  },
  {
    name: "David Betan",
    title: "Evaluación Formativa y sus Técnicas",
    image: davidImage,
  },
  {
    name: "Lorena Ladron de Guevara",
    title: "Inclusividad y Ambientes Saludables de Trabajo",
    image: lorenaImage,
  },
  {
    name: "Ely Leon",
    title: "Como la Escuela Me Ayudo a Pensar con el corazón",
    image: elyImage,
  },
];



---
<style>
   .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
</style>


<Layout title="congreso">
  <HeroSection
    isMain={true}
    title="3er Congreso Educativo"
    subtitle="Educando desde el Coraz&oacute;n."
    image={heroImage}
    children="">
  </HeroSection>
  
  <Speaker speakers={speakers} />
  
  <Stepbystep />
  
  
  <section class="hero"> 
    <h1>Contactanos</h1>
  </section>
</Layout>



