---
import Picture from "astro/components/Picture.astro";

const { speakers } = Astro.props;


---

<style>
  :global(.speakers-section) {
    text-align: center;
    padding: 50px 20px;
    background: #f8f8f8;
  }

  :global(.speakers-container) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  :global(.speaker-card) {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  :global(.speaker-card h3) {
    margin-top: 10px;
    font-size: 18px;
  }

  :global(.speaker-card p) {
    color: gray;
    font-size: 14px;
  }

  :global(.container_white) {
    text-align: center;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    place-self: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  }

  :global(.speaker-image-container) {
    width: 9rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(to right, #4a00e0, #8e2de2);
  }

  :global(.speaker-card img) {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: block;
  }

  /* MEDIA QUERY PARA MOBILE */
  @media screen and (max-device-width: 768px) {
    :global(.speakers-container) {
      flex-direction: column;
      align-items: center;
    }

    :global(.speaker-card) {
      width: 80%;
    }
    :global(.container_white) {

    }
    :global(.speaker-image-container) {

    }
    :global(.speaker-card img) {

    }
    :global(.speaker-card h3) {
    }
    :global(.speaker-card p) {
    }
  }
</style>

<section id="speakers" class="speakers-section">
  <h2>Conoce a nuestros ponentes</h2>
  <div class="speakers-container">
    {speakers.map(speaker => (
      <div class="speaker-card">
        <div class="container_white items-center justify-center">
            <div class="speaker-image-container">
                <Picture src={speaker.image} alt={speaker.name} />
            </div>
        </div>
        <h3>{speaker.name}</h3>
        <p>{speaker.title}</p> 
      </div>
    ))}
  </div>
</section>
